@font-face {
  font-family: Munro ,Munro;
 /* src: url(Munro.tff); */
}
h1
{

	text-align: center;
	padding-top: 10px;
	background: #888888;
	color: #ffffff;
	font-family: 'Press Start 2P', cursive;
}
body
{
	background: #111111;
}

#output
{
	font-family: 'Press Start 2P', cursive;
	background: #ffffff;
	color: #000000;
	width: 100%;
	height: 300px;
	word-wrap: break-word;
	overflow:auto;
}

form
{
	font-family: 'Press Start 2P', cursive;
	color: #ffffff;
}
p
{
	font-family: 'Press Start 2P', cursive;
	color: #ffffff;
}
